
/*---------------------------------共通レイアウト------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'arial black','arial unicode ms'
}

li{
    list-style: none;
}


a{
 text-decoration: none;
}

/*---------------------------------終わり:共通レイアウト------------------------------*/

/*---------------------------------ヘッダー------------------------------*/
#header, #footer{
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: #333;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

#header{
    top: 0px;
}

#footer{
    bottom: 0px;
}

/*---------------------------------終わり:ヘッダー------------------------------*/

/*---------------------------------アンカー------------------------------*/
#menu{
    position: fixed;
    top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;

}

#menu li{
    display: inline-block;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

#menu a{
    display: block;
    font-weight: bold;
    color: black;
    padding: 5px 30px;
    letter-spacing: 2px;
}

/*---------------------------------終わり:アンカー------------------------------*/


/*---------------------------------1-1枚目-左側-----------------------------------*/
.back1-left-section {
    position: absolute;
    top:30%;
    margin-left: 10%;
}

.back1-left-section h1{
    font-size: 4em;
}

.back1-left-section p{
    font-size: 1.2em;
}

/*---------------------------------終わり:1枚目-左側------------------------------*/


/*---------------------------------1-1枚目-右側------------------------------------*/

.back1-right-section{
    position: absolute;
    top: 30%;
    margin-left: 30%
}

.back1-right-section ul{
    width: 130%;
    margin-bottom: 10%;
}

.back1-right-section h2{
    font-size:3em;
}

.back1-right-section li{
    padding-top: 2%;
    padding-left: 15%;
    font-size:1.6em;
}
/*---------------------------------終わり:1枚目-右側------------------------------*/


/*---------------------------------2-2枚目-左側------------------------------*/

.back2-left-section{
    position: absolute;
    top:10%;
    left: 2%;
}

/*-----リスト------*/
.list-app{
    position: relative;
    width: 240px;
    height: 150px;
}


.list-app img{
    width: 240px;
    height: auto;
}

.list-app .caption{
    font-size: 120%;
	color: #fff;
	padding-top: 70px;
	padding-left: 78px;
}

.list-app .mask{
    width: 100%;
	height:	100%;
	position:absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition:	all 0.4s ease;
	transition:	all 0.4s ease;
	-webkit-transform: scale(0);	/* 大きさを０にして表示しない */
	transform: scale(0);
}

.list-app:hover .mask{
    cursor: pointer;
    -webkit-transform: scale(1);	/* 大きさを１にして表示する */
	transform: scale(1);
}

.list-app{
	transform: scale(0, 0) rotateY(180deg);
	-webkit-transform: scale(0, 0) rotateY(180deg);
}

.mv06{
    transition: 1.5s;
	transform: scale(1, 1) rotateY(360deg);
	-webkit-transform: scale(1, 1) rotateY(360deg);
}

/*-----終わり：リスト------*/

/*---------------------------------終わり：2枚目-左側------------------------------*/

/*---------------------------------2-2枚目-右側------------------------------*/

/*---------------------------------終わり：2枚目-右側------------------------------*/

/*---------------------------------3-3枚目-左側------------------------------*/

.twitter{
    position: absolute;
    top: 25%;
    left: 10%;
}

.twitter p{
    font-size: 5em;
}

/*---------------------------------終わり：3枚目-左側------------------------------*/


/*---------------------------------3-3枚目-右側------------------------------*/

.hatena{
    position: absolute;
    top: 26%;
    left: 10%;
}

.hatena p{
    font-size: 5em;
}

.hatena img{
    width: 100%
}